/* BASIC STYLES */
    

body {
	background: url('../images/background/alt-background-2.jpg') no-repeat center fixed;
    background-size: cover;
}


/* BODY STYLES */


main {
	font-family: Berkelium, DPQuake, Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	text-shadow: 0px 0px 18px rgb(0, 0, 0);
}

h1 {
	color: rgba(255, 94, 0, 0.829);
	text-shadow: 0px 0px 18px rgb(0, 0, 0);
	font-size: 22px;
	text-align: center;
	padding: 30px 0;
	font-size: 26px;
}


h2 {
	color: rgba(255, 94, 0, 0.829);
	text-shadow: 0px 0px 18px rgb(0, 0, 0);
	font-size: 22px;
	text-align: center;
	padding: 20px 0;
}

h3 {
	color: rgba(226, 141, 44, 0.904);
	text-shadow: 0px 0px 18px rgb(0, 0, 0);
}

#q-menu {
	margin-top: 50px;
	background-color: rgba(128, 128, 128, 0.349);
	margin-left: 10%;
	margin-right: 10%;
}

.front-image {
	width: 90%;
	opacity: 0.9;
	margin-left: 5%;

}

.text-description {
	padding: 25px;
	font-size: 12px;
	line-height: 20px
	
}

.text-description h3 {
	font-size: 20px;
	margin: 10px 0;

}

.game-info {
	width: 100%;
}

.video-demo {
	width: 100%;
	height: auto;
	text-align: center;
}

.video-demo iframe {
	width: 100%;
}


.dev-positions {
	font-size: 18px;
	text-align: center;

}

.dev-names {
	padding: 10px;
	text-align: center;
}


.competition h2 {
	margin: 20px 0;
}

iframe {
	width: 100%;
	margin-bottom: 20px; 
}

.competition {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
	padding-bottom: 20px;; 

}

.competition a {
	width: 200px;
}

.competition a img{
	width: 100%;
	
}

/* MEDIA QUERIES */

      
/* From 768px and up */

@media (min-width: 768px) {

	.video-demo iframe {
		width: 100%;
		min-height: 80vh;
	}

	iframe {
		width: 100%;
		min-height: 80vh;
	}
	
	.competition a {
		width: 40vw;
	}

}
